.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    height: 30px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
    z-index: 1;
}
.nav_black{
    background-color: black;
}
.nav_logo{
    width: 80px;
    object-fit: contain;
    position: fixed;
    left: 20px;
}

